*{
    margin: 0 ;
    padding: 0;
}
body{
    color:#fff;     
    margin-left: 20px;
    }
.out-wrapper{
    width: 1080px;
    display: flex;
    flex-direction: column;
    background-color: #0099ff;
}
/* 最上層首頁 */
.home{
    width: 1080px;
    height: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.home a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.logo-link{
    margin: 20px 0px 0px 20px ;
}
.link{
    border: #fff solid;
    margin:20px 20px 0px 0px;
    padding:6px;
    border-radius: 20px;
}
.logo-img{
    width: 30px;
    margin-right: 5px;
}
/* 中間 */
.middle{
    width: 1080px;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 600px;
    height: 600px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.title{
    font-size: 35px;
    margin-bottom: 5px ;
}
.comment{
    font-size: 15px;
    margin-bottom: 5px;
}
.download{
    display: flex;
}
.download-img{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    margin: 5px 10px;
}
/* 右側圖 */
.demo{
    width: 400px;
    height: 600px;
}
.demo-img{
    height: 600px   ;
    border-radius: 8px;
}
/* 導覽列 */
.nav{
    background-color:	#005AB5;
    margin-top:10px;
    width:1080px;
}
.lang{
    padding: 10px 20px;
    text-align: center;
}
.lang a{
    padding: 6px 15px;
    color: #fff;
    text-decoration:none;
    display: inline-block;
}
.lang-img{
    width: 20px;
    margin: 0px 5px;
    border-radius: 20px;
}